<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

@model WebApplication1.ViewModels.AddCollectionViewModel
@{
    ViewBag.Title = "Edit collection";
}
<link rel="stylesheet" type="text/css" href="~/css/edit.css" />
<link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />

<h2>Edit your collection</h2>
<div class="bo">
    <div class="container">

        <div class="col-md-offset-3 col-md-6">
            <div class="form-group">
                <form asp-action="Edit" asp-controller="Home" asp-route-IdUser="@ViewBag.IdUser" asp-route-id="@ViewBag.Id" method="post" enctype="multipart/form-data">
                    <div>
                        <div class="form-group">
                            <label asp-for="Name"></label><br />
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label><br />
                            <textarea class="form-control" asp-for="Description" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="Topic"></label><br />
                            <input asp-for="Topic" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <img src="@Url.Content(Model.ImageUrl)" class="img-fluid" width="600" />
                        </div>
                    </div>
                    <center>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" value="Save" />
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>